<div class="content">
	<div data-sly-resource="${'cookiealert' @ resourceType='statoil/components/content/cookiealert'}" data-sly-unwrap></div>
	<div class="page-header-content" data-sly-resource="${'topbanner' @ resourceType='statoil/components/content/topbanner'}"></div>
	<main id="main" class="page-container" role="main">
		<div data-sly-unwrap data-sly-resource="${'par' @ resourceType='statoil/foundation/components/parsys'}"></div>
	</main>
	<div data-sly-include="footer.html" data-sly-unwrap></div>
</div>
