<meta charset="utf-8" data-sly-use.head="head.js" data-sly-use.metadata="com.statoil.reinvent.components.wcmuse.PageComponentMetadata">
<title>${metadata.title}</title>
<!--/* General meta info */-->
<meta data-sly-test="${head.keywords}" name="keywords" content="${head.keywords}" />
<meta data-sly-test="${metadata.robots}" name="robots" content="${metadata.robots}" />
<meta name="description" content="${properties.jcr:description}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<!--/* Facebook Open Graph */-->
<meta property="og:title" content="${metadata.title}">
<meta property="og:url" content="${metadata.url}">
<meta property="og:type=" content="website">
<meta property="og:description" content="${properties.jcr:description}">
<meta property="og:image" content="${metadata.openGraphImageUrl}">
<!--/* Twitter Card */-->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="${metadata.title}">
<meta name="twitter:description" content="${properties.jcr:description}">
<meta name="twitter:url" content="${metadata.url}">
<meta name="twitter:image" content="${metadata.openGraphImageUrl}">
<!--/* Google Plus */-->
<meta itemprop="name" content="${metadata.title}">
<meta itemprop="description" content="${properties.jcr:description}">
<meta itemprop="image" content="${metadata.openGraphImageUrl}">
<!--/* Icons for mobile devices */-->
<link rel="apple-touch-icon" sizes="57x57" href="/etc/designs/statoil/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/etc/designs/statoil/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/etc/designs/statoil/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/etc/designs/statoil/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/etc/designs/statoil/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/etc/designs/statoil/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/etc/designs/statoil/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/etc/designs/statoil/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/etc/designs/statoil/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/etc/designs/statoil/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/etc/designs/statoil/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/etc/designs/statoil/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/etc/designs/statoil/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/etc/designs/statoil/manifest.json">
<link rel="mask-icon" href="/etc/designs/statoil/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/etc/designs/statoil/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="canonical" href="${metadata.canonicalUrl}">
