<div class="content magazine-content" role="main">
    <div data-sly-resource="${'cookiealert' @ resourceType='statoil/components/content/cookiealert'}"
         data-sly-unwrap></div>
    <div class="page-header-content"
         data-sly-resource="${'topbanner' @ resourceType='statoil/components/content/topbanner'}" role="banner"></div>
    <div class="page-container magazine">
        <div data-sly-unwrap data-sly-resource="${'par' @ resourceType='statoil/foundation/components/parsys'}"></div>
    </div>
    <div data-sly-include="footer.html" data-sly-unwrap></div>
</div>