<meta charset="utf-8" data-sly-use.head="head.js">
<meta name="keywords" content="${head.keywords}" />
<meta name="description" content="${properties.jcr:description}" />
<meta property="og:title" content="${head.title}">
<meta property="og:image" content="${head.path}">
<meta property="og:description" content="${properties.jcr:description}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link data-sly-test="${head.favIcon}" rel="icon" href="${head.favIcon}" />
<link rel="icon" type="image/png" href="/etc/designs/statoil/images/page/statoil-mini-logo.png" />