<div class="content">
    <main id="main" class="page-container modal-page" role="main">

        <div class="language-navigation">

            <div id="select-wrapper">

                <div>
                    <h2>Site:</h2>

                    <select class="dropdown" id="site">
                    </select>

                </div>

                <div>
                    <h2>Language:</h2>

                    <select class="dropdown" id="language">
                    </select>

                    <div class="unavailable-page" id="unavailable-page-site">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <p>The page '<span data-page-title></span>' is not available in the <span data-to-site></span> site. Click 'Submit' to go to the <span data-to-site></span> site home page or close this dialog to continue in the <span data-from-site></span> site.</p>
                    </div>

                    <div class="unavailable-page" id="unavailable-page-language">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <p>The page '<span data-page-title></span>' is not available in <span data-to-language></span> language. Click 'Submit' to go to the <span data-to-language></span> home page or close this dialog to continue in <span data-from-language></span>.</p>
                    </div>

                </div>

            </div>

            <div id="submit-wrapper">
                <button class="btn large magazine" id="language-submit" type="submit">Submit</button>
            </div>

        </div>

    </main>
</div>
